<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>HospitalApp | Ingreso de Nuevo Hospital</title>
    <!-- Bootstrap core CSS -->
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal">
    </header>

    <main role="main">     
      <hr>
      <div class="container col-md-6"> 
        <div class="card">
		  <h4 class="card-header"><strong>Buscar Hospital a Editar</strong></h4>  
		  <div class="card-body">  
		    <form class="form-inline" th:action="@{/hospital/editSearch}" method="get" th:object="${search}">
	          <table class="table table-striped">
                <tr align="center">
                  <td style="vertical-align:middle;"><a>IdHospital:</a></td>
                  <td style="vertical-align:middle;">
				  	<input type="text" class="form-control" th:field="*{idHospital}" placeholder="Digite un Id encontrado">
				  </td>
                  <td class="container col-md-2" style="vertical-align:middle;">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                  </td>
                </tr>
              </table>
	        </form>
	        </div>
	        <div th:if="${msg != null}" class='alert alert-danger' th:text="${msg}" role='alert'></div>
		</div>
	  </div>
	  <div class="container col-md-6"> 
        <div class="card">
          <h4 class="card-header"><strong>Datos del Hospital a Editar</strong></h4>              
          <div class="card-body">
            <form th:action="@{/hospital/save}" method="post" th:object="${hospital}">  
               <!--
               <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
				</ul>
			  </div>        
              -->
              <table class="table table-striped">
                <!--
                <tr>
                  <td style="vertical-align:middle;"><a>IdHospital:</a></td>
                  <td style="vertical-align:middle;">
				  	<input type="text" class="form-control" th:field="*{idHospital}" id="idHospital" name="idHospital" placeholder="Id del hospital" required="required">
				  </td>
                </tr>
                -->
                <tr>
                  <td style="vertical-align:middle;"><a>Nombre:</a></td>
                  <td style="vertical-align:middle;">
                    <input type="hidden" th:field="*{idHospital}" id="idHospital" name="idHospital">
				  	<input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Nombre del hospital" required="required">
				  </td>
                </tr>
                <tr>
                  <td style="vertical-align:middle;"><a>Antigüedad:</a></td>
                  <td style="vertical-align:middle;">
				  	<input type="text" class="form-control" th:field="*{antiguedad}" id="antiguedad" name="antiguedad" placeholder="Antigüedad del hospital" required="required">
				  </td>
                </tr>
                <tr>
                  <td style="vertical-align:middle;"><a>Área:</a></td>
                  <td style="vertical-align:middle;">
				  	<input type="text" class="form-control" th:field="*{area}" id="area" name="area" placeholder="Área del hospital" required="required">
				  </td>
                </tr>
                <tr>
                  <td style="vertical-align:middle;"><a>Sede:</a></td>
                  <td style="vertical-align:middle;">
				    <select th:field="*{sede.idSede}" class="custom-select custom-select">
		              <option th:each="sede : ${sedes}" th:value="${sede.idSede}" th:text="${sede.descSede}"></option>
		            </select>
				  </td>
                </tr>
                <tr>
                  <td style="vertical-align:middle;"><a>Distrito:</a></td>
                  <td style="vertical-align:middle;">
				    <select th:field="*{distrito.idDistrito}" class="custom-select custom-select">
		              <option th:each="distrito : ${distritos}" th:value="${distrito.idDistrito}" th:text="${distrito.descDistrito}"></option>
		            </select>
				  </td>
                </tr>
                <tr>
                  <td style="vertical-align:middle;"><a>Gerente:</a></td>
                  <td style="vertical-align:middle;">
				    <select th:field="*{gerente.idGerente}" class="custom-select custom-select">
		              <option th:each="gerente : ${gerentes}" th:value="${gerente.idGerente}" th:text="${gerente.descGerente}"></option>
		            </select>
				  </td>
                </tr>
                <tr>
                  <td style="vertical-align:middle;"><a>Condición:</a></td>
                  <td style="vertical-align:middle;">
				    <select th:field="*{condicion.idCondicion}" class="custom-select custom-select">
		              <option th:each="condicion : ${condiciones}" th:value="${condicion.idCondicion}" th:text="${condicion.descCondicion}"></option>
		            </select>
				  </td>
                </tr>
                <tr>
                  <td style="vertical-align:middle;"><a>Fecha de registro:</a></td>
                  <td style="vertical-align:middle;">
				    <input type="text" class="form-control" th:field="*{fechaRegistro}" name="fechaRegistro" id="fechaRegistro" placeholder="Fecha de Registro" required="required">
				  </td>
                </tr>
                <tr align="center">
                  <td colspan="2" style="vertical-align:middle;">
                    <button type="submit" class="btn btn-primary">Editar</button>
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

	<footer class="footer" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">    
	  <div class="container text-center">
		<div class="row">
	      <div class="col">
	      </div>
	      <div class="col">
	        <a class="btn btn-secondary" th:href="@{/}">Regresar</a>
	      </div>
	      <div class="col">
	      </div>
	      <div class="col">
	        <a class="btn btn-secondary" th:href="@{/hospital/delete}">Eliminar</a>
	      </div>
	      <div class="col">
	      </div>
	    </div>
	  </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script>
      
      $(function () {
          $("#fechaRegistro").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      
      tinymce.init({
          selector: '#detalles',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
    </script>
  </body>
</html>